$("#tasks_flash").html("<div class='alert'><button type='button' class='close' data-dismiss='alert'>&times;</button><span><%= "'#{@task.task}' was removed from your list" %></span></div>");
$(".list_items").html("<%= escape_javascript(render('task_lists/list')) %>");
$(".delete_button").html("<%= escape_javascript(render('task_lists/delete_complete')) %>");