<div class="list">
  <h3 class="title"><%= @user.username %>'s Task Lists:</h3>
  
  <div class="form">
    <%= render 'task_lists/form' %>
  </div>

  <div class="list_items">
    <%= render 'users/task_lists' %>
  </div>
</div>