<div class="center hero-unit">
  <h1>Boring Task App</h1>
  <h2>
    Welcome to a boring task app! 
    <br>
    Sign Up below!!!
  </h2>
  <%= link_to "Sign up", new_user_path, class: "btn btn-large btn-primary" %>
  <p>
  or, <%= link_to "try it out", users_path, method: :post %>. Don't worry, we'll save your lists.
  </p>
</div>
