<p id="notice"><%= notice %></p>

<p>
  <strong>Tasks:</strong>
  <%= @task_list.tasks %>
</p>

<%= link_to 'new task', "#", class: "btn btn-small" %> 
<br>
<%= link_to 'Edit', edit_task_list_path(@task_list) %>
