@import 'bootstrap';
$even: #004684;
$odd: #396B99;
$light: #8BB0D1;
$dark: #002B51;
$complete: #006ED1;


@mixin rounded($radius: 0.3em) {
-webkit-border-radius: $radius;
-moz-border-radius: $radius;
border-radius: $radius;
}

html {
  // overflow-y: scroll;
}

body {
  background-color: lighten($light, 25%);
}

.site {
  width: 95%;
  margin: 0 auto;
  font-size: 16px;

}

// .navbar .nav{
//   overflow: visible;
// }

#logo {
  font-family: "brush script mt", script;
  font-size: 6em;
  line-height: 1em;
  // margin-left: -120px;
  // position: fixed;
}

.pull-right {
  margin-top: 250px;
}

.btn {
  background-color: $dark;
}

.list {
  padding-top: 60px;
  // width: 100%;
  // height: 100%;
  margin: 0 auto;

  h3{
    margin: -20px 0 20px 5px;
    font-size: 4em;
    width: 50%;
    line-height: 0.4em;
    padding: 5px 0 10px 5px;
  }

  .form {
      // display: inline;
      // position: fixed;
      // z-index: 999;
      margin: 0 10px 0 5px;
      padding: 10px;
      line-height: 10em;
      background: $light;
      @include rounded(2em);
      // width: 88em;
      
    form {
      margin: 0;
      // width: 90%;

      .text {
        margin: 5px 0px 5px 5px;
        width: 60%;
        line-height: 60px;
        height: 1.5em;
        font-size: 4em;
      }

      .button {
        line-height: 1.7em;
        font-size: 3.5em;
        background-color: $complete;
        color: white;
        @include rounded(0.1em); 
        border: 2px solid $odd;
        padding: 5px;

      }
    }
  }
  
  ul {
    margin: 0px;
    list-style: none;
    // overflow: auto;
    
    a {
      color: lighten($light, 20%);
    }

    li {
      font-size: 5em;
      // height: 300%;
      margin: 0.1em;
      padding: 0.8em;
      // overflow-x: auto;
      @include rounded;
      color: lighten($light, 20%);
    }
 
    li:nth-child(even){
      background-color: $even;
    }
 
    li:nth-child(odd){
      background-color: $odd;
    }
    li.complete{
      background-color: $complete;
    }
  }

  .check_uncheck {
    margin: 20px 0 0 10px;
    font-size: 3em;
  }

  .delete_button {
    margin: 15px 0 0 10px;
    padding: 10px 0 20px 0;
  }
}